<?xml version="1.0" encoding="utf-8" ?>

	<configuration>
		<configSections>
   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    <section name="UporabniskiVmesniki_Klemencic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   </sectionGroup>
  </configSections>
  <appSettings>
			<add key="TextBox1Content" value="" />
			<add key="TextBox2Content" value="" />
			<add key="TextBox3Content" value="" />
			<add key="TextBox4Content" value="" />
			<add key="TextBox5Content" value="" />
			<add key="ImagePath" value=""/>

		</appSettings>
	 <userSettings>
   <UporabniskiVmesniki_Klemencic.Properties.Settings>
    <setting name="ImageBytes" serializeAs="String">
     <value>0</value>
    </setting>
    <setting name="objave" serializeAs="String">
     <value />
    </setting>
    <setting name="prijatelji" serializeAs="String">
     <value />
    </setting>
   </UporabniskiVmesniki_Klemencic.Properties.Settings>
  </userSettings>
 </configuration>
